{% extends 'partials/base.html.twig' %}

{% block content %}
    {{page.title}}
    {{ page.content }}

    <div>
        <ul>
        {% for image in page.media.images %}
        <li>
            <div class="image-surround">
                {{ image.cropResize(300,200).html }}
            </div>
            <div class="image-info">
                <h2>{{ image.meta.title }}</h2>
                <p>{{ image.meta.description }}</p>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
